################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ChatFaker/CopilotIndices/0.2.1657.32929
/.vs/ChatFaker/CopilotIndices/0.2.1657.32929/SemanticSymbols.db
/.vs/ChatFaker/CopilotIndices/0.2.1657.32929/SemanticSymbols.db-shm
/.vs/ChatFaker/CopilotIndices/0.2.1657.32929/SemanticSymbols.db-wal
/.vs/ChatFaker/FileContentIndex
/.vs/ChatFaker/FileContentIndex/1e0606ea-3f67-4be6-aa9f-50f1589bc279.vsidx
/.vs/ChatFaker/FileContentIndex/22b1c989-76d8-448c-b478-f64e3a012193.vsidx
/.vs/ChatFaker/FileContentIndex/8a886618-4e3f-47d3-8261-af0670d2ead4.vsidx
/.vs/ChatFaker/FileContentIndex/c203d54e-6482-4514-ac1e-7a3b9c7c97ef.vsidx
/.vs/ChatFaker/FileContentIndex/de747ccd-0b05-4c30-b8db-f1b768640bc9.vsidx
/ChatFaker/imgui
/x64/Debug
/ChatFaker/x64/Debug/ChatFaker.tlog
/ChatFaker/x64/Debug
/ChatFaker/ChatFaker/x64/Debug/ChatFaker.tlog
/ChatFaker/ChatFaker/x64/Debug
/.vs/ChatFaker/v17
